*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/


*.jar
merged_jar/dump.txt
merged_jar/mapping.txt
merged_jar/usage.txt
merged_jar/seeds.txt